blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
.vagrant
logs/*
!logs/.gitkeep
scratch/*
!scratch/.gitkeep
repo/*
!repo/chup
!repo/clean.sh
!repo/prep.sh
!repo/scan.sh
!repo/sbuildrc.ex
