[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = git@github.com:battlemidget/puppetlabs-vcsrepo.git
